@import 'variables';
@import 'header';

body {
    margin: 0;
    background-color: $bg-beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    & * {
        box-sizing: border-box;
    }
}

.container {
    width: 100%;
    max-width: 1066px;
    margin: auto;
}

button {
    border: none;
    background: none;
}

#toTop {
    position: fixed;
    bottom: 80px;
    right: 5.5%;
    border-radius: 50%;
    background: url('./img/toTop.png') no-repeat center;
    display: block;
    width: 80px;
    height: 80px;
    transition: all 300 ease-in;
}