$bg-beige: #faf9f0;
$bg-green: #002f2f;
$font-header: #fefefe;
$bg-white: #fffefd;


$text-sortby: #446666;

$card-booked: #a7a37e;
$card-available: #002f2f;
$card-sold: #a1a1a1;

$card-details-border-blue: #046380;
$card-booked: #a7a37e;
$card-vacant: #002f2f;
$card-sold: #a1a1a1;

$bg-red: #ff4444;
$bg-lightblue: #046380;